{% extends 'layout/_master.html' %}

{% block title %}
	کاربران
{% endblock %}


{% block content %}
<body>

<div class="main-body-content">
    <div class="main-header">
                    <div class="inner">
                        <div class="title">
                            <h1><i class="fi fi-rs-users"></i>لیست کاربران</span>
                            </h1>
                            <div class="breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb-list mb-0">
                                        <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">لیست کاربران</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="btns-action">
                            <a href="{% url 'add_user_dashboard' %}" class="btn btn-primary btn-small icon-right"><i
                                    class="fi fi-rs-add"></i><span>کاربر
                                    جدید</span></a>
                            <button type="button" class="btn btn-primary btn-small icon-right btn-collapse"
                                data-collapse-target="#collapse-search"><i
                                    class="fi fi-rs-search"></i><span>جستجو</span></button>
                        </div>
                    </div>
                </div>
    <div class="main-inner">
                    <!-- Search Content -->
                    <div class="card-collapse search-page-content" id="collapse-search">
                        <div class="search-inner">
                            <div class="forms-group">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="input-group no-icon small">
                                            <label>شماره سفارش، نام کاربر، شماره همراه</label>
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="select-group size-small">
                                            <label>وضعیت</label>
                                            <select class="select">
                                                <option value="1">همه</option>
                                                <option value="2">جدید</option>
                                                <option value="2">فقط مرد</option>
                                                <option value="2">فقط مرد</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="filter-inner">
                                            <div class="pick-date">
                                                <div class="input-group no-icon small">
                                                    <label>از تاریخ</label>
                                                    <input type="text" class="input" id="select-calendar-from"
                                                        placeholder="از">
                                                </div>
                                            </div>
                                            <div class="pick-date">
                                                <div class="input-group no-icon small">
                                                    <label>تا تاریخ</label>
                                                    <input type="text" class="input" id="select-calendar-until"
                                                        placeholder="تا">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="button-search">
                                            <button type="button" class="btn btn-primary">جستجو</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="checkbox-group m-0">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="checbox-select-all">
                                        </div>
                                    </th>
                                    <th scope="col">#</th>
                                    <th scope="col">نام و نام خانوادگی</th>
                                    <th scope="col">شماره همراه</th>
                                    <th scope="col">جنسیت</th>
                                    <th scope="col">تعداد آزمون‌ها</th>
                                    <th scope="col">تاریخ آخرین آزمون</th>
                                    <th scope="col">پرداخت برای آزمون</th>
                                    <th scope="col">کد ملی</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for user in users %}
                                	<tr>
                                    <td scope="row">
                                        <div class="checkbox-group m-0">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="checbox-select-1">
                                        </div>
                                    </td>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.phone_number }}</td>
                                    <td>مرد</td>
                                    <td>{{ user.exam_attempts }}</td>
                                    <td>{{ user.last_attempt_date }}</td>
                                    <td>{% if user.has_paid_for_exam %}
                                    	پرداخت شده
                                        {% else %}
                                        پرداخت نشده!
                                    {% endif %} </td>
                                    <td>400135488</td>
                                    <td><span class="status color-success">{% if user.is_verified %}
                                    	تایید شده
                                        {% else %}
                                        تایید نشده!
                                    {% endif %} </span></td>
                                    <td>
                                        <div class="btns-action">
                                            <a href="user-add.html" class="btn-circle"><i
                                                    class="fi fi-rs-pencil"></i></a>
                                            <a href="#" class="btn-circle color-red" data-modal-name="modal-delete"><i
                                                    class="fi fi-rs-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination -->
                    <div class="mypagination">
                        <div class="pagination-prev">
                            <a href="#" class="btn-pagination prev disabled">
                                <i class="fi fi-rs-arrow-small-right"></i>
                                <span>صفحه قبلی</span>
                            </a>
                        </div>
                        <div class="pagination-info">
                            <h6>صفحه</h6>
                            <div class="pagination-jump">
                                <input class="pagination-input" type="number" value="1">
                            </div>
                            <h6>از</h6>
                            <div class="curent-page-number">16</div>
                        </div>
                        <div class="pagination-next">
                            <a href="#" class="btn-pagination next">
                                <i class="fi fi-rs-arrow-small-left"></i>
                                <span>صفحه بعدی</span>
                            </a>
                        </div>
                    </div>
                </div>
</div>

</body>
{% endblock %}




