# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# SQLite
db.sqlite3
*.sqlite3

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Logs
*.log

# Media & Static
media/
staticfiles/

# IDEs
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Backup Files
*.bak
*.pot