{% extends 'layout/_master.html' %}


{% block title %}
	پنل مدیریت
{% endblock %}

{% block content %}
	<div class="main-body-content">
                <div class="main-header">
                    <div class="inner">
                        <div class="title">
                            <h1><i class="fi fi-rs-apps"></i>داشبورد</h1>
                            <div class="breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb-list mb-0">
                                        <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-inner">
                    <div class="cards-status-list">
                        <div class="row">
{#                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">#}
{#                                <div class="card-status type-1 color-red">#}
{#                                    <a href="#" class="card-inner">#}
{#                                        <div class="name">#}
{#                                            <h6><span class="fi fi-rs-shopping-bag"></span>سفارش جدید</h6>#}
{#                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>#}
{#                                        </div>#}
{#                                        <div class="desc">#}
{#                                            <h5 data-price="2"></h5>#}
{#                                            <span>سفارش جدید</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">#}
{#                                <div class="card-status type-1 color-orange">#}
{#                                    <a href="#" class="card-inner">#}
{#                                        <div class="name">#}
{#                                            <h6><span class="fi fi-rs-shopping-bag"></span>سفارشات امروز</h6>#}
{#                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>#}
{#                                        </div>#}
{#                                        <div class="desc">#}
{#                                            <h5 data-price="18"></h5>#}
{#                                            <span>سفارش</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">#}
{#                                <div class="card-status type-1 color-blue">#}
{#                                    <a href="#" class="card-inner">#}
{#                                        <div class="name">#}
{#                                            <h6><span class="fi fi-rs-shopping-bag"></span>سفارشات این هفته</h6>#}
{#                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>#}
{#                                        </div>#}
{#                                        <div class="desc">#}
{#                                            <h5 data-price="160"></h5>#}
{#                                            <span>سفارش</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">#}
{#                                <div class="card-status type-1 color-green">#}
{#                                    <a href="#" class="card-inner">#}
{#                                        <div class="name">#}
{#                                            <h6><span class="fi fi-rs-shopping-bag"></span>سفارشات این ماه</h6>#}
{#                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>#}
{#                                        </div>#}
{#                                        <div class="desc">#}
{#                                            <h5 data-price="451"></h5>#}
{#                                            <span>سفارش</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="card-status type-2 color-green">
                                    <a href="#" class="card-inner">
                                        <div class="name">
                                            <h6><span class="fi fi-rs-users"></span>تعداد کاربران</h6>
                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>
                                        </div>
                                        <div class="desc">
                                            <h5 data-price="18021"></h5>
                                            <span>کاربر</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="card-status type-2 color-blue">
                                    <a href="#" class="card-inner">
                                        <div class="name">
                                            <h6><span class="fi fi-rs-credit-card"></span>فروش امروز</h6>
                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>
                                        </div>
                                        <div class="desc">
                                            <h5 data-price="4531000"></h5>
                                            <span>تومان</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="card-status type-2 color-red">
                                    <a href="#" class="card-inner">
                                        <div class="name">
                                            <h6><span class="fi fi-rs-credit-card"></span>فروش این هفته</h6>
                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>
                                        </div>
                                        <div class="desc">
                                            <h5 data-price="15360000"></h5>
                                            <span>تومان</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="card-status type-2 color-orange">
                                    <a href="#" class="card-inner">
                                        <div class="name">
                                            <h6><span class="fi fi-rs-credit-card"></span>فروش این ماه</h6>
                                            <div class="arrow"><i class="fi fi-rs-arrow-small-left"></i></div>
                                        </div>
                                        <div class="desc">
                                            <h5 data-price="98000000"></h5>
                                            <span>تومان</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}