{% load static %}

<footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>🚗 آیین‌نامه پلاس</h5>
                    <p>سایت تخصصی آزمون آنلاین آیین‌نامه رانندگی - به‌روزرسانی ۱۴۰۴</p>
                </div>
                <div class="col-md-6 text-md-start">
                    <p>تماس: info@ayinnamehplus.ir</p>
                    <p>© ۱۴۰۴ - تمام حقوق محفوظ است</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init({ duration: 1200 });</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>