{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0e4fc7" />
    <meta name="msapplication-navbutton-color" content="#0e4fc7">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0e4fc7">
    <title>آیین پلاس | پنل مدیریت</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-grid.rtl.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/scss/dashboard/main.css' %}" />

    <!-- Font Icons -->
    <link href="{% static 'dashboard/css/flaticon-regular-straight.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/css/flaticon-solid-straight.css' %}" rel="stylesheet" type="text/css" />

    <!-- Favicon -->
    <link rel="icon" href="{% static 'dashboard/images/small-icon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'dashboard/images/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'dashboard/images/logo-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'dashboard/images/logo-114x114.png' %}" />

</head>